<ul class="nav nav-tabs" role="tablist" id="tabs-panel">
  <li role="presentation">
  	<%= link_to "Coin",dashboard_path %>
  </li>
  <li role="presentation">
  	<%= link_to "User",users_path,class: "user-click-tab" %>
  </li>
  <li role="presentation">
  	<%= link_to "Tags",tags_path%>
  </li>
  <li role="presentation">
  	<%= link_to "History",histories_path,class: "histories-click-tab" %>
  </li>
</ul>

<script type="text/javascript">
  $(document).ready(function(){
    $('li').each(function(){
      if(window.location.href.indexOf($(this).find('a:first').attr('href'))>-1){
        $(this).addClass('active').siblings().removeClass('active');}
    });
  });
</script>