<div style="float:right;margin-top: -2%;margin-right: 2%;;">
	<%= link_to "Sign Up",sign_up_users_path,class: "btn btn-primary" %> 
	<%= link_to "Log In",sign_in_users_path,class: "btn btn-primary" %> 
</div>