<table class="table table-hover table-striped details-table coin-tab-table" id="coin_data">
  <thead>
    <tr>
      <th class="action">Coin Name</th>
      <th class="action">User Count</th>
    </tr>
  </thead>
  <tbody>
    <% unless @coin_types.nil? %>
      <% @coin_types.each do |coin_type|%>
        <tr>
          <td><%= coin_type%></td>  
          <td><%= get_user_coin_type(coin_type)%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
